{% extends "base.html" %}


{% block content %}


<section class="success card">


    <div class="success-icon">

        ✓

    </div>


    <p class="eyebrow">

        EXPORT COMPLETE

    </p>


    <h1>

        Your comic is ready!

    </h1>


    <p>

        The PDF download has been
        started. You can create another
        comic whenever you like.

    </p>


    <a
        class="primary link-button"
        href="/"
    >

        Go Create Another Comic

    </a>


</section>


{% endblock %}